<script>
document.onkeydown=function(evt){
    var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
    if(keyCode == 13)
    {
        document.getElementById("submitBtn").click();
    }
}
</script>

<div id="fishbowl">

</div>
<div class="center">
    <input type="text" id="messageBox" ng-model="msg" class="fishtankTxt" placeholder="Communicate with other fishes" autofocus></input>
    <input id="submitBtn" type="button" ng-click="submit()" class="fishtankBtn" value="Send"></input>
</div>
