@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.image-flip{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; 
}

.image-org{
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    filter: FlipH;
    -ms-filter: "FlipH"; 
}

.triangle-right {
    position:relative;
    padding:15px;
    margin:1em 0 3em;
    color:#fff;
    background:#075698; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background:-moz-linear-gradient(#2e88c4, #075698);
    background:-o-linear-gradient(#2e88c4, #075698);
    background:linear-gradient(#2e88c4, #075698);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.fishtankTxt{
    background-color: #2e88c4;
    color: white;
    font-family: Comic Sans-serif;
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 3px;
    border-radius: 18px;
    border-color:white;
    border: 3px solid;
    width:80%
}

.fishtankBtn{
    font-size: 20px;
    border-radius: 14px;
    color: #2e88c4;
    background-color: #fff829;
    border-color: white;
    border: 3px solid;
}

.fishtankBackground{
    background-color: #2e88c4;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
// injector
@import 'main/main.less';
@import 'modal/modal.less';
// endinjector
